In [9]:
lst = list('asdfsfdsgd')

In [10]:
lst

['a', 's', 'd', 'f', 's', 'f', 'd', 's', 'g', 'd']

## Copy operation for List

In [11]:
fruit = ['apple', 'lichi', 'watermelon', 'mango']
fav_fruit = fruit[:]

In [12]:
fav_fruit

['apple', 'lichi', 'watermelon', 'mango']

In [13]:
fav1_fruit = fruit.copy()

In [14]:
fav1_fruit

['apple', 'lichi', 'watermelon', 'mango']

In [15]:
fav1_fruit == fav_fruit

True

In [16]:
# Assignment operator might create confusion some time.

f_fruit = fav_fruit

In [19]:
f_fruit

['apple', 'lichi', 'watermelon', 'mango', 'jackfruit']

In [18]:
fav_fruit.append('jackfruit')

In [28]:
f_fruit

['apple', 'lichi', 'watermelon', 'mango', 'jackfruit']

In [20]:
fav1_fruit

['apple', 'lichi', 'watermelon', 'mango']

In [21]:
fruit.append('tomato')

In [22]:
fruit

['apple', 'lichi', 'watermelon', 'mango', 'tomato']

In [23]:
fav_fruit

['apple', 'lichi', 'watermelon', 'mango', 'jackfruit']

In [24]:
id(fav_fruit)

1777885475720

In [25]:
id(f_fruit)

1777885475720

In [26]:
id(fruit)

1777885506376

In [30]:
list1 = ['12324', 'sdfsdf', 2424]

In [35]:
for list_val in list1:
    print(type(list_val))

type(list1)

<class 'str'>
<class 'str'>
<class 'int'>

list

In [38]:
l1 = ['padma', 'ganga']
l2 = ['son', 'kosi']

l1.extend(l2)

In [39]:
l1

['padma', 'ganga', 'son', 'kosi']

In [40]:
l3 = ['padma', 'ganga']
l4 = ['son']

l3.extend(l4)

In [41]:
l3

['padma', 'ganga', 'son']

In [ ]:
# Tuple - Immutable list

In [43]:
tup1 = tuple(['india', 'china', 'japan'])

In [44]:
type(tup1)

tuple

In [45]:
tup2 = ('germany', 'england', 'france')

In [46]:
type(tup2)

tuple

In [47]:
tup2 = 'egypt', 'uae', 'sudan'

In [48]:
type(tup2)

tuple

In [50]:
tup2[0], tup2[1]

('egypt', 'uae')

In [51]:
tup2

('egypt', 'uae', 'sudan')

In [52]:
print(tup2)

('egypt', 'uae', 'sudan')

In [53]:
tup3 = 'srilanka',

In [54]:
type(tup3)

tuple

In [55]:
for t in tup2:
    print(t)

egypt
uae
sudan

In [59]:
tup4 = (['abc', 'xyx'], 'bbb', 'ccc')

In [62]:
tup4[0].append('xxx')

In [63]:
print(tup4)

(['abc', 'xyx', 'xxx'], 'bbb', 'ccc')

In [64]:
tup4[0].remove('xxx')

In [65]:
print(tup4)

(['abc', 'xyx'], 'bbb', 'ccc')

In [67]:
tup4[0][1] = 'ppp'

In [68]:
print(tup4)

(['abc', 'ppp'], 'bbb', 'ccc')

In [69]:
first_val, second_val, thrid_val = tup4

In [70]:
first_val

['abc', 'ppp']

In [75]:
f1, f2 = first_val

In [72]:
f1

'abc'

# If else

In [77]:
car1 = 'bmw'
car2 = 'audi'

if car1 == car2:
    print('Same car')
else:
    print('Different car')

Different car

In [78]:
car1 = 'bmw'
car2 = 'audi'
car3 = 'bmw'

if car1 == car2:
    print('Same car')
elif car1 == car3:
    print('Same car with 3')
else:
    print("No match")

Same car with 3

In [79]:
id(car1)

1777874534784

In [80]:
id(car3)

1777874534784

In [81]:
x1 = range(120)
x2 = range(120)

In [82]:
id(x1)

1777884058752

In [83]:
id(x2)

1777884059376

range(0, 120)

In [86]:
import numpy as np

In [87]:
ar1 = np.array([1,2,3])
ar2 = np.array([1,2,3])

In [88]:
id(ar1), id(ar2)

(1777995586976, 1777995587056)

In [89]:
car1 = 2
car2 = 2

In [90]:
id(car1), id(car2)

(1692101696, 1692101696)

In [98]:
if ar1 is ar2:
    print("True")
else:
    print("False")

False

In [99]:
if x1 is x2:
    print("True")
else:
    print("False")

False

In [101]:
a = '124'
b = a

In [102]:
id(a)

1777995670000

In [103]:
id(b)

1777995670000

In [113]:
x1 = range(0,1200)
x2 = range(0,1200)

if x1 is x2:
    print("True")
else:
    print("False")

False

In [114]:
x1 == x2

True

In [115]:
id(x1), id(x2)

(1778007320688, 1778007321120)

In [120]:
age_0 = 21
age_1 = 21
age_2 = 29

(age_0 == age_1) and (age_1 == age_2)

False

In [121]:
(age_0 == age_1) or (age_1 == age_2)

True

In [122]:
tup2

('egypt', 'uae', 'sudan')

In [123]:
'uae' in tup2

True

In [124]:
f_fruit

['apple', 'lichi', 'watermelon', 'mango', 'jackfruit']

In [125]:
'apple' in f_fruit

True

In [126]:
'applecake' in f_fruit

False

In [127]:
'applecake' not in f_fruit

True

In [129]:
car1 = 'bmw'
car2 = 'audi'
car3 = 'mosi'

if car1 == car2:
    print('Same car')
elif car1 == car3:
    print('Same car with 3')

In [131]:
req_list = ['rahul']

if req_list:
    print("List are present")
else:
    print("No list are present")

List are present