# List

In [1]:
name = ['joyraj', 'rahul', 'som', 'cognizant']

In [2]:
type(name)

list

In [3]:
print(name)

['joyraj', 'rahul', 'som', 'cognizant']

In [4]:
name[2]

'joyraj'

In [5]:
name[0].title()

'Joyraj'

In [13]:
print(f'{name[2].title()}')

Som

In [12]:
name[-2]

'som'

# Changing, Adding, Removing

In [15]:
name

['joyraj', 'rahul', 'som', 'cognizant']

In [16]:
name[2] = 'Somsuvra'

In [17]:
name

['joyraj', 'rahul', 'Somsuvra', 'cognizant']

In [18]:
name.append('TCS')

In [19]:
name

['joyraj', 'rahul', 'Somsuvra', 'cognizant', 'TCS']

In [20]:
name.insert(0, 'Genpact')

In [21]:
name

['Genpact', 'joyraj', 'rahul', 'Somsuvra', 'cognizant', 'TCS']

In [22]:
user_name = ['Rahul', 'Som', 'Joyraj']
comp_name = ['CTS', 'CTS', 'GP']

In [23]:
user_name.insert(1, comp_name[0])
user_name.insert(3, comp_name[1])
user_name.insert(5, comp_name[2])

user_name

['Rahul', 'CTS', 'Som', 'CTS', 'Joyraj', 'GP']

In [24]:
del name[-1]

In [25]:
name

['Genpact', 'joyraj', 'rahul', 'Somsuvra', 'cognizant']

In [26]:
del name[3]

In [27]:
name

['Genpact', 'joyraj', 'rahul', 'cognizant']

In [28]:
popped_name = name.pop()

In [29]:
name

['Genpact', 'joyraj', 'rahul']

In [30]:
popped_name

'cognizant'

In [31]:
popped_name = name.pop(1)

In [32]:
popped_name

'joyraj'

In [33]:
name

['Genpact', 'rahul']

In [34]:
user_name.remove('GP')
user_name

['Rahul', 'CTS', 'Som', 'CTS', 'Joyraj']

In [35]:
user_name.remove('CTS')
user_name

['Rahul', 'Som', 'CTS', 'Joyraj']

In [36]:
var = 'CTS'
user_name.remove(var)
user_name

['Rahul', 'Som', 'Joyraj']

In [37]:
user_name.sort()

In [38]:
user_name

['Joyraj', 'Rahul', 'Som']

In [39]:
user_name.sort(reverse=True)
user_name

['Som', 'Rahul', 'Joyraj']

In [40]:
cars = ['bmw', 'maruti', 'honda', 'toyota']

In [41]:
print(cars)

['bmw', 'maruti', 'honda', 'toyota']

In [42]:
# Temporary Sorting of list
print(sorted(cars))

['bmw', 'honda', 'maruti', 'toyota']

In [43]:
print(cars)

['bmw', 'maruti', 'honda', 'toyota']

In [44]:
user_name

['Som', 'Rahul', 'Joyraj']

In [55]:
purchase_list = "apple choco nacho bread"

purchase_list1 = "nacho,choco apple"

In [46]:
purchase_list.split(' ')

['apple', 'choco', 'nacho']

In [50]:
purchase_list1.split()

['nacho,choco', 'apple']

In [56]:
p_list = purchase_list.split(' ')
p_list.reverse()
print(p_list)

['bread', 'nacho', 'choco', 'apple']

In [59]:
purchase_list

'apple choco nacho bread'

In [57]:
len(p_list)

4

In [58]:
len(purchase_list)

23

# Loops

In [61]:
for prod in p_list:
    print(prod)

bread
nacho
choco
apple

In [62]:
i = 0
while i < len(p_list):
    print(p_list[i])
    i += 1

bread
nacho
choco
apple

In [68]:
students = ['Ram', 'Sam', 'Tom']

for student in students:
    print(student.title())
    print("Hello")

Ram
Hello
Sam
Hello
Tom
Hello

In [71]:
values = range(5)

for value in values:
    print(value)

0
1
2
3
4

In [73]:
type(values)

range

In [75]:
num_list = list(range(5))
print(type(num_list))
num_list

<class 'list'>

[0, 1, 2, 3, 4]

In [82]:
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

In [ ]:
# Assignment - Create Multiplication Table of 3?
# With for loop
# With while loop
# 3 X 1 = 3
# and so on
# Get sum of all digits in the string - 343423423547568 without using sum()

In [83]:
my_list = list(range(1, 10, 2))

In [84]:
my_list

[1, 3, 5, 7, 9]

In [87]:
min(my_list), max(my_list), sum(my_list)

(1, 9, 25)

In [ ]:
[1, 9, 25, 49, 81]

In [88]:
squares = []
for num in my_list:
    square = num**2
    squares.append(square)

print(squares)

[1, 9, 25, 49, 81]

In [91]:
cubes = [num**3 for num in my_list]

In [92]:
cubes

[1, 27, 125, 343, 729]

# Slicing of list

In [94]:
items = ['apple', 'mango', 'pitch', 'banana', 'orange']

In [95]:
print(items[0:3])

['apple', 'mango', 'pitch']

In [96]:
print(items[2:5])

['pitch', 'banana', 'orange']

In [98]:
print(items[:3])

['apple', 'mango', 'pitch']

In [99]:
print(items[3:])

['banana', 'orange']

In [100]:
print(items[-3:])

['pitch', 'banana', 'orange']

In [101]:
items

['apple', 'mango', 'pitch', 'banana', 'orange']

In [103]:
i = 1
for itm in items[:3]:
    print(f"item list {i} - {itm}")
    i += 1

item list 1 - apple
item list 2 - mango
item list 3 - pitch