In [2]:
import pandas as pd

In [3]:
# Prev version
data1 = pd.DataFrame({
    "associate_id" : [1001, 1001, 1001, 1002, 1002, 1002, 1003, 1003, 1003],
    "activity_pk"  : [2001, 2002, 2003, 2002, 2004, 2005, 2003, 2005, 2001],
    "rank" : [1,2,3,1,2,3,1,2,3]
    })

In [4]:
# Current version
data2 = pd.DataFrame({
    "associate_id" : [1002, 1002, 1002, 1003, 1003, 1003, 1003, 1004],
    "activity_pk"  : [2022, 2024, 2005, 2003, 2005, 2001, 2006, 2001],
    "rank" : [1,2,3,1,2,3,4,1]
    })

In [14]:
class DataRestruct:
  def __init__(self, data):
    self.data = data
    self.associate_id_list = list(set(data['associate_id']))

  def activity_reshape(self, associate_id):
    activity_pk_list = list(self.data['activity_pk'][self.data['associate_id'] == associate_id])
    return str(activity_pk_list).strip("[]")

  def rank_reshape(self, associate_id):
    rank_list = list(self.data['rank'][self.data['associate_id'] == associate_id])
    return str(rank_list).strip("[]")

In [18]:
# Previous Dataset
data_obj1 = DataRestruct(data1)

id_list = data_obj1.associate_id_list

activity_pk = []
rank = []
for id in id_list:
  activity_pk.append(data_obj1.activity_reshape(id))
  rank.append(data_obj1.rank_reshape(id))

new_data1 = pd.DataFrame({
    'associate_id' : id_list,
    'activity_pk' : activity_pk,
    'rank' : rank
})

# Current Dataset
data_obj2 = DataRestruct(data2)

id_list = data_obj2.associate_id_list

activity_pk = []
rank = []
for id in id_list:
  activity_pk.append(data_obj2.activity_reshape(id))
  rank.append(data_obj2.rank_reshape(id))

new_data2 = pd.DataFrame({
    'associate_id' : id_list,
    'activity_pk' : activity_pk,
    'rank' : rank
})

In [19]:
new_data1, new_data2

(   associate_id       activity_pk     rank
 0          1001  2001, 2002, 2003  1, 2, 3
 1          1002  2002, 2004, 2005  1, 2, 3
 2          1003  2003, 2005, 2001  1, 2, 3,
    associate_id             activity_pk        rank
 0          1002        2022, 2024, 2005     1, 2, 3
 1          1003  2003, 2005, 2001, 2006  1, 2, 3, 4
 2          1004                    2001           1)

In [20]:
new_data1.merge(new_data2, on=['associate_id'], how='right')

   associate_id     activity_pk_x   rank_x           activity_pk_y      rank_y
0          1002  2002, 2004, 2005  1, 2, 3        2022, 2024, 2005     1, 2, 3
1          1003  2003, 2005, 2001  1, 2, 3  2003, 2005, 2001, 2006  1, 2, 3, 4
2          1004               NaN      NaN                    2001           1