# Class and OOPs concept

In [18]:
class Dog:
    """A simple class for dog model"""

    # Special method which is creating the instance of class
    def __init__(self, name, age):
        """Initialize name and age attribute"""
        self.name = name
        self.age  = age
        self.owner = ''
    
    def sit(self, place):
        """Simulate a dog sitting in response to a command"""
        self.place = place
        print(f"{self.name} is now sitting. Sitting at {place}.")


    def running(self):
        print(f"{self.name} is running.")

    def get_current_owner(self, owner):
        self.current_owner = owner
        print(f"{self.current_owner} is the owner now.")

In [19]:
my_dog = Dog('Rocky', 8)

In [17]:
my_dog.name, my_dog.age

('Rocky', 8)

In [6]:
my_dog.running()

Rocky is running.

In [11]:
my_dog.sit("Lone")

Rocky is now sitting. Sitting at Lone.

In [21]:
my_dog.get_current_owner("Rahul")

Rahul is the owner now.

In [22]:
my_dog.current_owner

'Rahul'

# User of Super Class

In [24]:
class Car:

    def __init__(self, make, model, year):

        self.make = make
        self.model = model
        self.year = year

    def get_description(self):

        description = f"Manufactured in {self.year}"

        return description

In [40]:
class ElectricCar(Car):

    def __init__(self, make, model, year, charger_name):

        super().__init__(make, model, year)
        self.charger_name = charger_name

    def check_charging(self, charge_flag):
        if charge_flag == True:
            return "Yes"
        else:
            return "No"

In [41]:
my_electric_car = ElectricCar('Tesla', 'small model', 2020, "Exide")

print(my_electric_car.get_description())

Manufactured in 2020

In [42]:
my_electric_car.charger_name

'Exide'

In [43]:
my_electric_car.check_charging(True)

'Yes'

In [38]:
my_car = Car('Maruti', 'Swift', 2019)

In [39]:
my_car.get_description()

'Manufactured in 2019'

# Use map function with iterator

In [47]:
def multi(num):
    return num*num

num_list = [3, 4, 5, 6, 7]

# map() creates a generator
print(list(map(multi, num_list)))

[9, 16, 25, 36, 49]

In [48]:
list(map(multi, num_list))

[9, 16, 25, 36, 49]

# Using itertools module to iterate

In [49]:
Zipcodes = ['121212','232323','434334']
newZipcodes = ['  131313 ',' 242424   ',' 212121 ','  323232','342312  ',' 565656 ']

In [50]:
import itertools

list(itertools.chain(Zipcodes, (iter.strip() for iter in newZipcodes)))

['121212',
 '232323',
 '434334',
 '131313',
 '242424',
 '212121',
 '323232',
 '342312',
 '565656']

In [51]:
[iter.strip() for iter in newZipcodes]

['131313', '242424', '212121', '323232', '342312', '565656']

In [58]:
import pandas as pd
data1 = {"name":['Rahul','Sudipta'], "mark": [89,90]}
data2 = {"name":['Priya','Rabi'], "mark": [89,90]}
data3 = {"name":[], "mark": []}

In [59]:
df1 = pd.DataFrame(data1)

In [60]:
df2 = pd.DataFrame(data2)

In [61]:
df3 = pd.DataFrame()

In [66]:
df_final = pd.concat([df1, df2, df3]).reset_index(drop = True)

In [67]:
df_final

      name  mark
0    Rahul    89
1  Sudipta    90
2    Priya    89
3     Rabi    90

In [72]:
def funct1(num1):
    num2 = num1 + 3

    def sqnum():
        print(num2*num2)

    sqnum()

In [73]:
funct1(5)

64

In [74]:
def funct2(num1):
    num2 = num1 + 3

    def sqnum(num2):
        print(num2*num2)

    sqnum(num2)

In [75]:
funct2(5)

64